@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


.gamePage{
    font-family: 'Montserrat';
    color:#455a64;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}
.gameWrapper{
    min-height: 500px;
    display: block;
}

.heading{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    margin:50px 20px 20px 25px;
}

.boardWrapper{
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 25px 50px;
    justify-content: center;
}

.scoreList{
    padding: 0 20px;
}

.board{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.formWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-items: center;
    align-items: center;
    justify-items: center;
}


.tile {
    color: #455a64 !important;
    text-decoration: none;
    font-size: larger;
    background: #ffffff;
    padding: 20px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    width: 100px;
    height: 100px;
    
    }
    .tile:disabled,
    .tile[disabled]{
        background-color: #b0bec5;
        color: #455a64;
        transition: none;
    }
    .tile:hover:enabled {
        color: #ffffff !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        }


.button {
    color: #455a64 !important;
    text-decoration: none;
    font-size: medium;
    background: #ffffff;
    padding: 20px;
    border: 2px solid #b0bec5 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    margin-bottom: 50px;
    margin-top: 20px;
    }
    .button:disabled,
    .button[disabled]{
        border: 1px solid #b0bec5;
        background-color: #b0bec5;
        color: #455a64;
        transition: none;
    }
    .button:hover:enabled {
        color: #ffffff !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        }

.historyTable {
    margin: 25px 0;
}

.turnText {
    background-color: #f6b93b;
    text-align: center;
    padding: 5px;
}

.winner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.navLink {
    font-family: 'Montserrat';
    margin: 5px 10px;
    font-size: larger;
}

.introHead {
    font-family: 'Montserrat';
    font-size: xx-large;
    font-weight: 600;
    font-stretch: expanded;
}

.introText {
    font-size: large;
    line-height: 1.6;
}
