// .squares{
//     width: 100px;
//     height: 100px;
//     background-color: #E3E4DB;
//     border-radius: 0px;
//     font-size: larger;
// }

.X{
    background-color: #EF798A;
}

.O{
    background-color: #F7A9A8;
}

//Colours
$purple: #8F6593;


// Basic Button Style
.tile{
  font-size: x-large;
  font-weight: 500;
//   box-sizing: border-box;
  appearance: none;
  border: 1px solid;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-color: #ffffff;
  // border: 0;
  border-radius: 0;
  color: #455a64;
  position: relative;
  overflow: hidden;
  transition: color 150ms ease-in-out;
  width: 100px;
  height: 100px;
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #ffffff;
    transition: width 150ms ease-in-out;
  }
  
  &:hover:enabled {
    color: rgba(136, 136, 136, 0.742);
    &:after {
      width: 110%;
    }
  }
}

  
